.Ingredient {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.Ingredient:only-child {
    align-self: center;
}

.Ingredient span:first-child {
    width: 25%;
}

.Ingredient span:last-child {
    width: 15%;
}

.Ingredient span:nth-child(2), .Ingredient span:nth-child(3) {
    width: 30%;
}

.ingredientImage {
    width: 50px;
    height: auto;
}

.removeLayer {
    width: 20px;
}