.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 50px 20px;
    margin: 0 auto;
}

.col {
    width: 50%;
    padding: 0 15px;
}

fieldset {
    height: 100%;
}

.ingredientImage {
    width: 50px;
    height: auto;
}

.Ingredient {
    display: flex;
    justify-content: space-between;
}